<section id="about" class="home-about spad">
        <div class="container">
            {% for item in about %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <h2>{{ item.about_title }}</h2>
                        <p class="short-details">{{ item.about_subtitle }}</p>
                        <p class="long-details">{{ item.about_text }}</p>
                        <a href="#classes" class="primary-btn about-btn">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="{{ item.about_image.url }}" alt="">
                    </div>
                </div>
            </div>
            {%  endfor %}
        </div>
    </section>