{%  load static %}
<section class="feature-section">
        <div class="container-fluid">
            <div class="row">
                {% for item in feature %}
                <div class="col-md-4">
                    <div class="feature-item set-bg" data-setbg={{ item.feature_image.url }}>
                        <h3>{{ item.feature_title }}</h3>
                        <p>{{ item.feature_about }}</p>
                        <a href="#table" class="primary-btn f-btn">Read More</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>